{% set requete = app.request.pathInfo %}
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#brand" role="button" aria-expanded="false" aria-controls="brand">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-copyright fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Marques
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/brand' %}show{% endif %}" id="brand">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_brand') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_brand_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#pattern" role="button" aria-expanded="false" aria-controls="pattern">
        <div class="row">
            <div class="col-3">
                <i class="fab fa-patreon fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Patterns
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/pattern' %}show{% endif %}" id="pattern">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_pattern') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_pattern_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#gender" role="button" aria-expanded="false" aria-controls="gender">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-folder-open fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Genres
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/gender' %}show{% endif %}" id="gender">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_gender') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_gender_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#language" role="button" aria-expanded="false" aria-controls="language">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-language fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Langues
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/language' %}show{% endif %}" id="language">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_language') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_language_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#level" role="button" aria-expanded="false" aria-controls="level">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-star-half-alt fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Niveaux
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/level' %}show{% endif %}" id="level">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_level') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_level_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="btn btn-secondary w-100" data-toggle="collapse" href="#style" role="button" aria-expanded="false" aria-controls="style">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-border-style fa-2x"></i>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                Styles
            </div>
        </div>
    </a>
    <div class="collapse {% if requete starts with '/admin/style' %}show{% endif %}" id="style">
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-primary" href="{{ path('admin_style') }}"><i class="fas fa-list"></i></a>
            </li>
        </ul>
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <a class="nav-link text-center btn btn-outline-success" href="{{ path('admin_style_new') }}"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
    </div>
</div>