<div class="my-3">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <h5>Extensible :</h5>
    {{ form_row(form.extensible) }}
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg">{{ bouton_label }}</button>
    </div>
    {{ form_end(form) }}
</div>