{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Liste des tissus{% endblock %}

{% block content %}
    <div class="row"><i class="fas fa-list-alt fa-3x mr-3"></i><h1>Liste des tissus</h1></div>
    <div class="my-3">
        <table class="table table-hover table-striped">
            <thead class="thead-dark h5">
            <tr>
                <th class="align-middle col-1">
                    <a href="{{ path('admin_fabric_new') }}" class="btn btn-success"><i class="fas fa-plus"></i></a>
                </th>
                <th class="align-middle">Nom</th>
                <th class="align-middle">Extensible</th>
                <th class="align-middle">Version(s)</th>
                <th class="col-2 align-middle"></th>
            </tr>
            </thead>
            <tbody>
            {% for fabric in data %}
                <tr>
                    <td class="align-middle"></td>
                    <td class="align-middle font-weight-bold h5">{{ fabric.name }}</td>
                    <td class="align-middle">{{ fabric.extensible }}</td>
                    <td class="align-middle">{{ fabric.versions | length }}</td>
                    <td class="align-middle">
                        <a href="{{ path('admin_fabric_edit', {'id': fabric.id}) }}" class="btn btn-outline-primary"><i class="fas fa-wrench"></i></a>
                        {% if fabric.canBeDeleted %}
                            <a href="{{ path('admin_fabric_delete', {'id': fabric.id }) }}"
                               onclick="return confirm('Supprimer ce tissu ?')"
                               class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display }}
    </div>
{% endblock %}
