{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
    <div class="row"><i class="fas fa-list-alt fa-3x mr-3"></i><h1>Liste des utilisateurs</h1></div>
    <div class="my-3">
        <table class="table table-hover table-striped">
            <thead class="thead-dark h5">
            <tr>
                <th class="align-middle">Email</th>
                <th class="align-middle">Marque(s)</th>
                <th class="align-middle">Role(s)</th>
                <th class="col-4 align-middle"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="align-middle font-weight-bold h5">{{ user }}</td>
                    <td class="align-middle">{{ user.brands | length }}</td>
                    <td class="align-middle">
                        {% for role in user.roles %}
                            <p>{{ role }}</p>{% if loop.last == false %}<br/>{% endif %}
                        {% endfor %}
                    </td>
                    <td class="align-middle">
                        <a href="{{ path('admin_user_addBrands', {'id': user.id}) }}"
                           class="btn btn-dark"><i class="fas fa-copyright"></i></a>
                        <a href="{{ path('admin_user_addRole', {'id': user.id, 'role': 'ROLE_MARQUE'}) }}"
                           onclick="return confirm('Promouvoir cet utilisateur comme marque ?')"
                           class="btn btn-outline-success"><i class="fas fa-user-tag"></i></a>
                        <a href="{{ path('admin_user_removeRole', {'id': user.id, 'role': 'ROLE_MARQUE'}) }}"
                           onclick="return confirm('Retirer les droits de marque à cet utilisateur ?')"
                           class="btn btn-outline-warning"><i class="fas fa-user-tag"></i></a>
                        <a href="{{ path('admin_user_addRole', {'id': user.id, 'role': 'ROLE_ADMIN'}) }}"
                           onclick="return confirm('Promouvoir cet utilisateur comme admin ?')"
                           class="btn btn-outline-success"><i class="fas fa-lock"></i></a>
                        <a href="{{ path('admin_user_removeRole', {'id': user.id, 'role': 'ROLE_ADMIN'}) }}"
                           onclick="return confirm('Retirer les droits d\'admin à cet utilisateur ?')"
                           class="btn btn-outline-warning"><i class="fas fa-lock"></i></a>
                        <a href="{{ path('admin_size_delete', {'id': user.id }) }}"
                           onclick="return confirm('Supprimer cet utilisateur ?')"
                           class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
