{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier la version de patron {{ version }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap-select-css') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Modifier la version de patron {{ version }}</h1></div>
        {% if pattern %}<small>Le patron sélectionné est : {{ pattern }}</small>{% endif %}
        {% include 'admin/version/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bootstrap-select-js') }}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}